NEXT_PUBLIC_SUPABASE_URL=https://wqmersuhdamwwdbebblp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_hub_anon_key
RKRT_SUPABASE_URL=https://usknntguurefeyzusbdh.supabase.co
RKRT_SUPABASE_ANON_KEY=your_rkrt_anon_key
LIVIN_SUPABASE_URL=https://bmemtekrchzoxpwtaufd.supabase.co
LIVIN_SUPABASE_ANON_KEY=your_livin_anon_key
